{% extends 'core/base.html' %}
{% load static%}
{% load humanize %}
{% block content %}
<div class="portada_usuario">
    <!-- Portada -->
    <img src="{% static 'images/cover_photo.jpg' %}" alt="Portada" id='imagen_portada'>
</div>

<div class="profile-section">
    <!-- Foto de perfil -->
    <img src="{% static 'images/profile_barber_photo.jpg' %}" alt="Foto de perfil" id='imagen_perfil'>
    <div class='user-info'>
        <!-- Información de la barbería -->
      <h2>{{ barberia.nombre }}</h2>
      <p>Horario: {{ barberia.horario }}</p>
      <p>Dirección: {{ barberia.direccion }}</p>
    </div>
</div>

<div class="turnos-section">
    <h3>Turnos</h3>
</div>

<div class="barbers-section">
    <h3>Barberos</h3>
</div>

<div class="feed-section">
  <h3>Publicaciones</h3>
</div>
<div class = 'btn_publicar'>
  <a href="{% url 'crear_post' %}">¡Haz que se luzca!</a>
</div>
<div>
  <p>Cantidad de Posteos: {{ posts|length }}</p>
  <ul>
      {% for post in posts %} 
          <li>
              <div class="card">
                  <h4 class="barberia">{{ post.propietario.barberia.nombre }}</h4>
                  <h5 class='fecha_publicacion'>{{ post.fecha_publicacion|timesince|naturaltime  }}</h5>        
                  <img src="{% static post.imagen.url %}" alt="Imagen de la publicación">
                  <p class="contenido">{{ post.contenido }}</p>
                  <div class="interacciones">
                      <div class="likes">Me gusta</div>
                      <div class="comentarios">Comentarios</div>
                      <div class="compartir">Compartir</div>
                  </div>
              </div>
          </li>
      {% endfor %}
  </ul>
</div>

{% endblock %}