{% extends 'core/base.html' %}

{% block content %}

<h1>Inicio</h1>

<div>
    <h4>POSTEO</h4>
    <p>perfil</p>
    <p>imagen</p>
    <p>descripcion</p>
    <p>me gusta</p>
    <p>comentarios</p>
    <p>compartir</p>
</div>
<div>
    <h4>POSTEO</h4>
    <p>perfil</p>
    <p>imagen</p>
    <p>descripcion</p>
    <p>me gusta</p>
    <p>comentarios</p>
    <p>compartir</p>
</div>
<div>
    <h4>POSTEO</h4>
    <p>perfil</p>
    <p>imagen</p>
    <p>descripcion</p>
    <p>me gusta</p>
    <p>comentarios</p>
    <p>compartir</p>
</div>
<div>
    <h4>POSTEO</h4>
    <p>perfil</p>
    <p>imagen</p>
    <p>descripcion</p>
    <p>me gusta</p>
    <p>comentarios</p>
    <p>compartir</p>
</div>
<div>
    <h4>POSTEO</h4>
    <p>perfil</p>
    <p>imagen</p>
    <p>descripcion</p>
    <p>me gusta</p>
    <p>comentarios</p>
    <p>compartir</p>
</div>
<div>
    <h4>POSTEO</h4>
    <p>perfil</p>
    <p>imagen</p>
    <p>descripcion</p>
    <p>me gusta</p>
    <p>comentarios</p>
    <p>compartir</p>
</div>
<div>
    <h4>POSTEO</h4>
    <p>perfil</p>
    <p>imagen</p>
    <p>descripcion</p>
    <p>me gusta</p>
    <p>comentarios</p>
    <p>compartir</p>
</div>
{% endblock %}