{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<div class="turno-section">
  {% if turno %}
    <h4>Proximos turnos</h4>
    {% for turno in turno %}
      <div class="turnos">
        <!-- Informacion sobre el turno -->
        <div class="barber_img">logo barberia</div>
        <div class="datos_turno">
        <h3>{{turno.barberia.nombre}}</h3>
        <p>{{ turno.dia }}</p>
        <p>{{ turno.hora }}</p>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>

<div class="card_home">
    <h4 class="barberia">Nice Whisckers</h4>
    <h5 class='fecha_publicacion'>Ahora</h5>        
    <div class='reserva_'>
        <img src="{% static 'images/fondohome2.png' %}" alt="Imagen de la publicación">
        <h2> Haz<br>que se<br>luzca</h2>        
        <div class = 'btn_reservar_'><a href="{% url 'turno:nuevo_turno' %}">Reservar</a></div>
    </div>
    <p class="contenido"><strong>¡Haz que se luzca!</strong><br>¡Busca tu peluqueria y profesional favorito en Nice Whisckers!</p>
    <div class="interacciones">
        <div class="likes">Me gusta</div>
        <div class="comentarios">Comentarios</div>
        <div class="compartir">Compartir</div>
    </div>
</div>

{% include 'index_posts.html' with posts=posts %}
</div>
{% endblock %}


