{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="portada_usuario">
    <!-- Portada -->
    <img src="{% static 'images/cover_photo.jpg' %}" alt="Portada" id='imagen_portada'>
</div>
<div class="profile-section">
  <div class="profile-info">
      <!-- Foto de perfil -->
      <img src="{% static 'images/profile_photo.png' %}" alt="Foto de perfil" id="imagen_perfil">
      <div class="user-info">
          <!-- Información del Usuario -->
          <h2>Usuario: {{ user.username }}</h2>
          <p>Email: {{ user.email }}</p>
      </div>
  </div>
</div>

{% if user.es_propietario %}
<div class='btn_publicar'>
<a href="{% url 'propietario:admin_barber' id=barberia.id %}">Administrar Barbería</a>
</div>
{% else %}
<div class='btn_reservar'>
<a href="{% url 'barberia:crear_barberia' %}">Agregar Barberia</a>
</div>
{% endif %}
<div class = 'btn_reservar'>
  <a href="{% url 'turno:nuevo_turno' %}">Reservar</a>
</div>
<h3>Tus turnos</h3>

<div class="turno-section">
  {% if turno %}
    <h4>Proximos turnos</h4>
    {% for turno in turno %}
      <div class="turnos">
        <!-- Informacion sobre el turno -->
        <div class="barber_img">logo barberia</div>
        <div class="datos_turno">
        <h3>{{turno.barberia.nombre}}</h3>
        <p>{{ turno.dia }}</p>
        <p>{{ turno.hora }}</p>
        </div>
      </div>
    {% endfor %}
  {% endif %}

</div>

{% endblock %}